.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.App-item {
  width: 80%;
  max-width: 700px;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}

.App-image {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.App-caption {
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .App-item {
    max-width: 400px;
  }

  .App-caption {
    font-size: 17px;
  }
}